
<!DOCTYPE html>
<html lang="en" class="no-js">
{% load staticfiles %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SunnydaySolar</title>

        <meta name="description" content="DESCRIPTION" />
		<meta name="keywords" content="KEYWORDS" />
		<meta name="author" content="Codeconvey" />

		<link rel="shortcut icon" href="../favicon.ico">

		<link rel="stylesheet" type="text/css" href="{% static "css/component.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
		<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
		<link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
<div class="container-fluid">
	<div class="row">
		<div class="conatiner">
	<div class="col-md-6">
		<img  class="img-responsive" src={% static "images/investor.jpg" %}>
	</div>
	<div class="col-md-6">
		<h1> Climate Change presents us with the greatest investment opportunity of all time! Climate Change must be addressed,
	 and by far the fastest and cheapest way to address it is with existing renewable technologies <h1>
	 </div>
 </div>
 </div>
